.DS_Store
.ipynb_checkpoints
.vscode
__pycache__
*.s2q
*.sgf
*.ipynb

config-*.yml
mdb-export

data/user/*
*.egg-info
license_full*
git.hash

dist
build
venv*
AIP

*.exe

*.db
*.fit*
*.mdb
*.xml
*.log
*.tif
*.so
*.c

tmp
*.dmg
*.pkg